.list {
  display: flex;
  list-style: none;
  padding: 20px 40px;
}
.item {
  margin-right: 30px;
}
.link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: rgb(61, 61, 61);
}

.link:global(.active) {
  color: rgb(87, 120, 212);
}
