.item {
  max-width: 200px;
  background-color: rgba(236, 225, 212, 0.295);
  border-radius: 4px;
  overflow: hidden;
}
.img {
  max-width: 100%;
}
.title {
  margin: 0;
  text-align: center;
  margin: 4px 0;
}
.link {
  height: 100%;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item:hover,
.item:focus {
  background-color: rgba(230, 196, 157, 0.295);
}
